:root {
    --clr-neutral-100: #f2f2f2;
    --clr-neutral-700: #0d2601;

    --clr-accent-green-600: #417310;
    --clr-accent-green-500: #79a617;
    --clr-accent-green-400: #a9bf7a;

    --ff-body: "Poppins", sans-serif;

    --spacing: 4rem;
    --container-width: min(90%, 62.5rem);
    --transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);

    @media screen and (min-width: 45em) {
        --spacing: 5rem;
    }

    @media screen and (min-width: 70em) {
        --spacing: 5.5rem;
    }
}

html {
    scroll-padding-top: 2rem;
    font-size: 93.75%;

    @media screen and (min-width: 45em) {
        font-size: 100%;
    }
}

body {
    font-family: var(--ff-body);
    background-color: var(--clr-neutral-100);
    color: var(--clr-neutral-700);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--ff-heading);
    font-weight: 600;
}

.container {
    width: var(--container-width);
    margin-inline: auto;
}

.spacing {
    padding-block: var(--spacing);
}

// ::selection {
//     background-color: var(--clr-accent-primary);
//     color: var(--clr-neutral-100);
// }

// ::-webkit-scrollbar {
//     width: 0.85em;
// }

// ::-webkit-scrollbar-track {
//     background: var(--clr-neutral-100);
// }

// ::-webkit-scrollbar-thumb {
//     background: var(--clr-accent-secondary);
//     border: 2px solid var(--clr-neutral-100);
//     border-radius: 8px;
// }
