:root {
    --clr-neutral-100: #e3e3e3;
    --clr-neutral-700: #18181b;

    --clr-accent-primary: #da5026;
    --clr-accent-secondary: #249c7c;

    --b-radius: 8px;

    --clr-bg-body: var(--clr-neutral-700);

    --ff-heading: "Source Sans Pro", sans-serif;
    --ff-body: "Open Sans", sans-serif;

    --spacing: 4rem;
    --container-width: min(90%, 62.5rem);
    --transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);

    @media screen and (min-width: 45em) {
        --spacing: 5rem;
    }

    @media screen and (min-width: 70em) {
        --spacing: 5.5rem;
    }
}

html {
    scroll-padding-top: 2rem;
    font-size: 93.75%;

    @media screen and (min-width: 45em) {
        font-size: 100%;
    }
}

body {
    font-family: var(--ff-body);
    background-color: var(--clr-bg-body);
    color: var(--clr-neutral-100);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--ff-heading);
    font-weight: 600;
}

.container {
    width: var(--container-width);
    margin-inline: auto;
}

.spacing {
    padding-block: var(--spacing);
}

::selection {
    background-color: var(--clr-accent-primary);
    color: var(--clr-neutral-100);
}

::-webkit-scrollbar {
    width: 0.85em;
}

::-webkit-scrollbar-track {
    background: var(--clr-neutral-100);
}

::-webkit-scrollbar-thumb {
    background: var(--clr-accent-secondary);
    border: 2px solid var(--clr-neutral-100);
    border-radius: 8px;
}
